<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../css/site.css" />
</head>

<body>
    <h1>Chat</h1>
    <div id="app">
        <div v-if="!isStartChat">
            <input type="text" v-model="userName">
            <button onclick="vm.startChatAsync()">start chat!</button>
        </div>
        <div v-else>
            <textarea v-model="message" ref="message" rows="5" cols="80" disabled></textarea>
            <br>
            <input type="text" v-model="messageToSend">
            <button onclick="vm.sendAsync()">send</button>
        </div>
    </div>
    <script src="../libs/vue/vue_v2.6.14.js"></script>
    <script src="../libs/SignalR/signalr_3.1.14.js"></script>
    <script src="../js/chat.js"></script>
</body>

</html>